{
  "extends": ["eslint:recommended", "prettier"],
  "plugins": ["import", "functional", "@typescript-eslint"],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "rules": {
    "@typescript-eslint/no-unused-vars": "error",

    "no-await-in-loop": ["error"],
    "no-console": ["error", { "allow": ["warn", "error", "info"] }],
    "no-constant-condition": ["error"],
    "no-extra-parens": 0,
    "no-extra-semi": ["error"],
    "no-loss-of-precision": ["error"],
    "no-promise-executor-return": ["error"],
    "no-template-curly-in-string": ["error"],
    "no-useless-backreference": ["error"],
    "require-atomic-updates": ["error"],

    "accessor-pairs": ["error"],
    "array-callback-return": ["error"],
    "block-scoped-var": ["error"],
    "class-methods-use-this": ["error"],
    "complexity": ["error"],
    "consistent-return": ["error"],
    "curly": ["error"],
    "default-case": ["error"],
    "default-case-last": ["error"],
    "default-param-last": 0,
    "dot-location": ["error", "property"],
    "dot-notation": ["error"],
    "eqeqeq": ["error"],
    "grouped-accessor-pairs": ["error"],
    "guard-for-in": ["error"],
    "max-classes-per-file": ["error"],
    "no-alert": ["error"],
    "no-caller": ["error"],
    "no-constructor-return": ["error"],
    "no-div-regex": ["error"],
    "no-else-return": ["error"],
    "no-empty-function": ["error"],
    "no-eq-null": ["error"],
    "no-eval": ["error"],
    "no-extend-native": ["error"],
    "no-extra-bind": ["error"],
    "no-extra-label": ["error"],
    "no-floating-decimal": ["error"],
    "no-implicit-coercion": ["error"],
    "no-implicit-globals": ["error"],
    "no-implied-eval": ["error"],
    "no-invalid-this": ["error"],
    "no-iterator": ["error"],
    "no-labels": ["error"],
    "no-lone-blocks": ["error"],
    "no-loop-func": ["error"],
    "no-magic-numbers": ["error", { "ignore": [1, -1, 0, 2] }],
    "no-multi-spaces": ["error"],
    "no-multi-str": ["error"],
    "no-new": ["error"],
    "no-new-func": ["error"],
    "no-new-wrappers": ["error"],
    "no-octal-escape": ["error"],
    "no-proto": ["error"],
    "no-restricted-properties": ["error"],
    "no-return-assign": ["error"],
    "no-return-await": ["error"],
    "no-script-url": ["error"],
    "no-self-compare": ["error"],
    "no-sequences": ["error"],
    "no-throw-literal": ["error"],
    "no-unmodified-loop-condition": ["error"],
    "no-unused-expressions": ["error"],
    "no-useless-call": ["error"],
    "no-useless-concat": ["error"],
    "no-void": ["error"],
    "no-warning-comments": ["warn"],
    "prefer-named-capture-group": ["error"],
    "prefer-promise-reject-errors": ["error"],
    "prefer-regex-literals": ["error"],
    "radix": ["error"],
    "require-unicode-regexp": ["error"],
    "vars-on-top": ["error"],
    "wrap-iife": ["error"],
    "yoda": ["error"],

    "arrow-body-style": 0,
    "eol-last": ["error", "always"],
    "comma-dangle": 0,
    "linebreak-style": 0,
    "no-underscore-dangle": 0,
    "no-unused-labels": 0,
    "no-unused-vars": 0,
    "object-shorthand": 0,
    "prefer-rest-params": 0,
    "semi": ["error", "never"],

    "functional/immutable-data": [
      "error",
      {
        "ignoreAccessorPattern": "module.exports*"
      }
    ],
    "functional/no-let": ["error"],
    "functional/no-method-signature": ["error"],
    "functional/prefer-readonly-type": ["error"],
    "functional/no-class": ["error"],
    "functional/no-mixed-type": 0,
    "functional/no-this-expression": ["error"],
    "functional/prefer-type-literal": 0,
    "functional/no-conditional-statement": 0,
    "functional/no-expression-statement": 0,
    "functional/no-loop-statement": ["error"],
    "functional/no-return-void": 0,
    "functional/no-promise-reject": 0,
    "functional/no-throw-statement": 0,
    "functional/no-try-statement": ["error"],
    "functional/functional-parameters": 0,

    "import/no-unresolved": ["error"],
    "import/named": ["error"],
    "import/default": ["error"],
    "import/namespace": ["error"],
    "import/no-restricted-paths": ["error"],
    "import/no-absolute-path": ["error"],
    "import/no-dynamic-require": ["error"],
    "import/no-internal-modules": 0,
    "import/no-webpack-loader-syntax": ["error"],
    "import/no-self-import": ["error"],
    "import/no-cycle": ["error"],
    "import/no-useless-path-segments": ["error"],
    "import/no-relative-parent-imports": 0,

    "import/export": ["error"],
    "import/no-named-as-default": ["error"],
    "import/no-named-as-default-member": ["error"],
    "import/no-deprecated": ["error"],
    "import/no-extraneous-dependencies": ["error"],
    "import/no-mutable-exports": ["error"],
    "import/no-unused-modules": ["error"],

    "import/unambiguous": ["error"],
    "import/no-commonjs": 0,
    "import/no-amd": ["error"],
    "import/no-nodejs-modules": 0,

    "import/first": ["error"],
    "import/exports-last": ["error"],
    "import/no-duplicates": ["error"],
    "import/no-namespace": 0,
    "import/extensions": ["error"],
    "import/order": ["error"],
    "import/newline-after-import": ["error"],
    "import/prefer-default-export": 0,
    "import/max-dependencies": ["error"],
    "import/no-unassigned-import": ["error"],
    "import/no-named-default": 0,
    "import/no-named-export": 0,
    "import/no-anonymous-default-export": 0,
    "import/group-exports": ["error"],
    "import/dynamic-import-chuckname": 0
  },
  "settings": {
    "import/ignore": ["node_modules"],
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "parser": "@typescript-eslint/parser"
}
