.build/
dist/
.coverage/
coverage/
node_modules/
__pycache__/
package-lock.json
.idea/
.env*
.env.webpack
.env.webpack.dev
.env.webpack.prod
.gradle/
.serverless/
node-v*-headers.tar.gz
.deploy/
.build_*
*.swp
*.pem
*.crt
*.key
*.cer
.nyc_output/
